.creator {
	margin: 30px 0 50px;
}
.creator nav {
	margin-bottom: 0;
}
.creator-options {
	padding: 10px 14px;
	height: 350px;
	background: #ddd;
}
.creator-canvas-container {
	padding: 0;
}
.creator-canvas {
	width: 100%;
	height: 350px;
	background: #eee;
}