
.creator nav {
	margin-bottom: 0;
}
/*.creator-options {
	padding: 10px 14px;
	height: 350px;
	background: #ddd;
}*/
.creator-canvas-container {
	padding: 0;
}
.creator-canvas {
width: 100%;
height: 350px;
background: #F5F5F5;
border: 1px solid rgb(221, 221, 221);
border-radius: 5px;
}

.colorpicker-preview {
	display: inline-block;
	margin: 2px 0 -6px -4px;
	width: 24px;
	height: 24px;
}
.creator-patterns {
	padding: 0;
}
.creator-pattern {
	display: inline-block;
	margin-right: 6px;
	list-style: none;
}
.creator-pattern a {
	display: inline-block;
	width: 32px;
	height: 32px;
}
.ideaForm button {margin-bottom: 20px;}