<div class="page-header">
  <h1>{{idea.title}}</h1>
</div>
<div class="highlight container-fluid">
		<div class="row">
			<div class="col-md-7 creator-options">

				<div class="msg-tile">
Title: 
{{idea.title}}
</div>
<div>Vote:
{{idea.vote}}
	
</div>
<button ng-hide="addedVoteUp" ng-click="voteUp()" type="button" class="btn btn-primary btn-xs glyphicon glyphicon-thumbs-up">&nbsp;like</button> 
<button ng-hide="addedVoteDown" ng-click="voteDown()" type="button" class="btn btn-primary btn-xs glyphicon glyphicon-thumbs-down">&nbsp;unlike</button>
<p ng-show="idea.vote < voteRef">Need {{voteRef - idea.vote }} more likes</p>

			</div>
			<div class="col-md-5 creator-canvas-container">
				<canvas class="creator-canvas canvas-{{idea.shape}}"></canvas>
			</div>
		</div>
	</div>




<div ui-view="comment@"></div>
