Add an idea

<form role="form" ng-submit="addIdea()">

  <div class="form-group">
    <label for="ideaTitle">Title</label>
    <input ng-model="idea.title" type="text" id="ideaTitle">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>


<div class="creator">
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="">Shape</a></li>
				<li><a href="">Colour</a></li>
				<li><a href="">Pattern</a></li>
				<li><a href="">Features</a></li>
			</ul>
		</div>
	</nav>

	<div class="highlight container-fluid">
		<div class="row">
			<div class="col-md-5 creator-options">
				
			</div>
			<div class="col-md-7 creator-canvas-container">
				<canvas id="creator-canvas" class="creator-canvas"></canvas>
			</div>
		</div>
	</div>

</div>