<div class="page-header">
  <h1>Ideas submitted</h1>
</div>

  <div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="idea in ideas">
    <div class="thumbnail" ng-class="{cold : idea.vote <= -10, hot : idea.vote >= 10}">
      <img src="http://placehold.it/300x300" alt="{{idea.title}}">
      <div class="caption">
        <h3>{{idea.title}}</h3>
        <p><span ng-show="idea.vote">Score: {{idea.vote}}</span>&nbsp;</p>
        <p><a ui-sref="app.detail({ id: (idea.$id)})" class="btn btn-primary" role="button">Open</a> </p>
      </div>
    </div>
  </div>
</div>

